@media print{
 /* All your print styles go here */
  footer, nav, img, a, #footerLinks{
   display: none;
  }
  body{
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  ul, img {
    page-break-inside: avoid;
  }
}
