/* Color: #16A085 */
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@media screen and (min-width: 500px) {
  body{
    background-image: url("images/background.jpg");
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: 'Nunito Sans', sans-serif;
  }
  .drawer-hamburger-icon{
    border: 15px solid white;
  }
  .drawer-hamburger-icon:hover{
    border: 15px solid #16A085;
  }
  header button{
    margin-top: 10%;
  }
  nav ul li:hover{
    color: white;
    background-color: #16A085;
  }
  #logo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    float: left;
  }
  #goToCart{
    margin-left: 78%;
  }
  #libertyH1{
    font-size: 5em;
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.3em;
    color: #16A085;
    float: left;
  }
  #jetH1{
    font-size: 5em;
    letter-spacing: 0.3em;
    font-family: 'EB Garamond', serif;
    color: white;
  }

  #slogan{
    font-size: 2.5em;
    float: none;
    font-family: 'Rufina', serif;
    letter-spacing: 0.3em;
    color: white;
  }
  main section{
    border: 3px solid white;
  }
  #sales{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-bottom: 40%;
    width: 100%;
    margin-top: 2%;
  }
  #sales a{
    opacity: 0.5;
  }
  #sales a:hover{
    opacity: 1;
  }
  #salesHeader2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
  }
  .locations{
    width: 17%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: 1%;
  }
  .locations:hover{
    color: #16A085;
    border: 3px solid #16A085 ;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px #16A085;
  }
  #servicesHeader2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
    background-color: white;
  }
  #firstClass{
    width: 17%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: 1%;
    position: absolute;
    left: 13%;
  }
  #wifi{
    width: 17%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: 1%;
    position: absolute;
    left: 39%;

  }
  #meals{
    width: 17%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: 1%;
    position: absolute;
    left: 65%;

  }
  #services{
    background-color: #fff;
    color: black;
    padding-bottom: 30%;
    width: 100%;
    height: 40%;
  }
  .serviceLocation{
    width: 100%;
    text-align: center;
    float: left;
    padding: 2%;
    margin-left: 30%;
    border: 3px solid black;
    margin: 2%;
  }
  .serviceLocation:hover{
    color: #16A085;
    border: 3px solid #16A085 ;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px #16A085;
  }
  #firstClassImg{
    height: 90%;
    width: 100%;
    padding-top: 21.5%;
    padding-bottom: 21.5%;
  }
  #wifiImg{
    height: 90%;
    width: 100%;
    padding-top: 9%;
  }
  #mealImg{
    height: 90%;
    width: 100%;
    padding-top: 21.5%;
    padding-bottom: 21.5%;
  }
  #about{
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 2%;
    padding-bottom: 5%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #hostess{
    padding-top: 7%;
    float: left;
    position: relative;
  }
  footer{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-bottom: 3%;
    width: 100%;
  }
  footer p{
    float: left;
    padding-top: 3.5%;
    padding-left: 10%;
  }
  #footerLinks{
    float: none;
    margin-left: 90%;
    padding-top: 3%;
  }
  #toronto, #winnipeg{
    margin-left: 4%;
  }
  #aboutUsText{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
  }
  #aboutUsH2{
    font-size: 2em;
    width: 100%;
  }
  #contact{
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 2%;
    padding-bottom: 25%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #mainVacationPlanner{
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    margin-top: 2%;
  }
  #vacationPlannerH2{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
    text-align: center;
    /* TODO: Center the title */
  }
  #planner{
    background-color: rgba(0,0,0,0.7);
    margin-top: 1%;
    padding-bottom: 5%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #plannerInfo{
    text-align: center;
    padding-bottom: 2%;
  }
  #formContact{
    position: relative;
    left: 19%;
    float: left;
  }
  #contactText{
    height: 40%;
    width: 30%;
    float: right;
    position: relative;
    right: 20%;
    padding: 2%;
  }
  #contactUsH2{
    font-size: 2em;
    width: 50%;
    position: relative;
    left: 19%;
  }
  .btn{
    background-color: white;
    color: #16A085;
    border-radius: 15%;
    padding: 1.5%;
  }
  #flightTracker{
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 2%;
    padding-bottom: 25%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #construction{
    margin-left: 13%;
    float: left;
  }
  #flightTrackerH2{
    font-size: 2em;
    width: 50%;
    position: relative;
    left: 19%;
  }
  #flightTrackerText{
    padding-top: 3%;
    width: 40%;
    float: right;
    margin-right: 25%;
  }
  #form1{
    position: relative;
    float: left;
    left: 30%;
  }
  #form2{
    float: right;
    position: relative;
    right: 30%;
  }
  #tripDetails{
    position: relative;
    left: 47.5%;
    width: 50%;
    padding-bottom: 4%;

  }
  #addToCart{
    background-color: #16A085;
    color: white;
    border-radius: 15%;
    padding: 1%;
  }
  #map{
    background-color: white;
    width: 100%;
  }
  #googleMap{
    width: 100%;
  }
  #cart{
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  #cartContents{
    border: 2px solid white;
    margin: 2%;
    padding: 1%;
    text-align: center;
  }
  #cart h3{
    text-align: center;
    padding-top: 3%;
    font-size: 3em;
  }
  #checkoutButton, #cartItems{
    text-decoration: none;
    color: #16A085;
  }
  #checkoutButton:hover{
    color: white;
  }
  #clearCart{
    padding-right: 2%;
  }
  #facebookLike{
    color: white;
  }
}
@media screen and (max-width: 499px){
  body{
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  #logo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
  }
  .drawer-hamburger-icon{
    border: 15px solid white;
  }
  .drawer-hamburger-icon:hover{
    border: 15px solid #16A085;
  }
  header button{
    margin-top: 10%;
  }
  nav ul li:hover{
    color: white;
    background-color: #16A085;
  }

  #goToCart{
    margin-left: 78%;
  }
  #libertyH1{
    font-size: 3.5em;
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.3em;
    color: #16A085;
    float: left;
    margin-left: 3%;
  }
  #jetH1{
    font-size: 3.5em;
    letter-spacing: 0.3em;
    font-family: 'EB Garamond', serif;
    color: #16A085;
  }

  #slogan{
    font-size: 2em;
    float: none;
    font-family: 'Rufina', serif;
    letter-spacing: 0.3em;
    color: black;
    margin-left: 3%
  }
  main section{
    border: 3px solid white;
  }
  #sales{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-bottom: 40%;
    width: 100%;
    margin-top: 2%;
    position: relative;
  }
  #sales a{
    opacity: 0.5;
  }
  #sales a:hover{
    opacity: 1;
  }
  #salesHeader2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
    position: relative;
  }
  .locations{
    width: 17%;
    text-align: center;
    float: none;
    padding: 2%;
    margin: 1%;
    position: relative;
    left: 13%;
    padding: 0% 30%;
  }
  .locations:hover{
    color: #16A085;
    border: 3px solid #16A085 ;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px #16A085;
  }
  #servicesHeader2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
    background-color: white;
  }
  #firstClass{
    width: 17%;
    text-align: center;
    float: none;
    padding: 0 30%;
    position: relative;
    left: 13%;
    margin: 1%;
  }
  #wifi{
    width: 17%;
    text-align: center;
    float: none;
    padding: 0 30%;
    position: relative;
    left: 13%;
    margin: 1%;

  }
  #meals{
    width: 17%;
    text-align: center;
    float: none;
    padding: 0 30%;
    position: relative;
    left: 13%;
    margin: 1%;


  }
  #services{
    background-color: #fff;
    color: black;
    padding-bottom: 20%;
    width: 100%;
    height: 40%;
  }
  .serviceLocation{
    width: 100%;
    text-align: center;
    float: none;
    padding: 2%;
    margin-left: 30%;
    border: 3px solid black;
    margin: 2%;
    padding: 0 5%;
  }
  .serviceLocation:hover{
    color: #16A085;
    border: 3px solid #16A085 ;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px #16A085;
  }
  #firstClassImg{
    display: none;
  }
  #wifiImg{
  display: none;
  }
  #mealImg{
  display: none;
  }
  #about{
    background-color: rgba(22, 160, 133, 0.8);
    width: 100%;
    color: white;
  }
  #hostess{
    display: none;
  }
  footer{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-bottom: 3%;
    width: 100%;
  }
  footer p{
    float: none;
    padding-top: 3.5%;
    padding-left: 10%;
  }
  #footerLinks{
    float: none;
    margin-left: 80%;
    padding-top: 3%;
  }
  #aboutUsText{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
  }
  #aboutUsH2{
    font-size: 2em;
    width: 100%;
  }
  #contact{
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 2%;
    padding-bottom: 20%;
    width: 100%;
    color: white;
    padding-top: 20%;
  }
  #mainVacationPlanner{
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    margin-top: 2%;
  }
  #vacationPlannerH2{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    color: #16A085;
    text-align: center;
    /* TODO: Center the title */
  }
  #planner{
    background-color: rgba(0,0,0,0.7);
    margin-top: 1%;
    padding-bottom: 5%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #plannerInfo{
    text-align: center;
    padding-bottom: 2%;
  }
  #formContact{
    position: relative;
    left: 19%;
    padding-bottom: 10%;

  }
  #contactText{
    height: 40%;
    width: 30%;
    position: relative;
    left: 20%;
    padding: 0 10%;
  }
  #contactUsH2{
    font-size: 2em;
    width: 50%;
    position: relative;
    left: 19%;
  }
  .btn{
    background-color: white;
    color: #16A085;
    border-radius: 15%;
    padding: 1.5%;
  }
  #flightTracker{
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 2%;
    padding-bottom: 25%;
    width: 100%;
    color: white;
    padding-top: 5%;
  }
  #construction{
    margin-left: 13%;
    float: left;
  }
  #flightTrackerH2{
    font-size: 2em;
    width: 50%;
    position: relative;
    left: 19%;
  }
  #flightTrackerText{
    padding-top: 3%;
  }
  #form1{
    position: relative;
    float: none;
    left: 30%;
  }
  #form2{
    float: none;
    position: relative;
    left: 30%;
  }
  #vacationPriceButton{
    float: none;
    position: relative;
    left: 40%;
  }
  #tripDetails{
    position: relative;
    padding-bottom: 4%;
    left: 40%;

  }
  #addToCart{
    background-color: #16A085;
    color: white;
    border-radius: 15%;
    padding: 1%;
  }
  #map{
    background-color: white;
    width: 100%;
  }
  #googleMap{
    width: 100%;
  }
  #cart{
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  #cartContents{
    border: 2px solid white;
    margin: 2%;
    padding: 1%;
    text-align: center;
  }
  #cart h3{
    text-align: center;
    padding-top: 3%;
    font-size: 3em;
  }
  #checkoutButton, #cartItems{
    text-decoration: none;
    color: #16A085;
  }
  #checkoutButton:hover{
    color: white;
  }
  #clearCart{
    padding-right: 2%;
  }
  #facebookLike{
    color: white;
  }
}
